body {
	line-height: 1.6;
}
.fakeTextbox {
	overflow: auto;
	resize: both;
	&:empty {
		display: none;
	}
}
.notes {
	font-style: italic;
	margin-bottom: 4px;
}
.addButtons {
	display: flex;
	margin-bottom: 4px;
	align-items: center;
	gap: 8px;
}
.vertFlex {
	display: flex;
	flex-flow: column wrap;
	margin-bottom: 8px;
}
.invBlock {
	margin-top: 8px;
	&.empty{
		display:none;
	}
}
.fakeTextbox, .weaponBlock, .charBlock, .invBlock {
	border: 1px solid #495366;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 8px;
}
.boxName {
	font-size: 24px;
	font-weight: 600;
	gap: 4px;
	display: flex;
	align-items: center;
	> img {
		width: 64px;
	}
}
.boxTitle {
	font-size: 20px;
}
.boxSubtitle {
	font-size: 16px;
}
.topFlex {
	display: flex;
	justify-content: space-between;
}
.removeButton {
	height: fit-content;
}
:is(.charDropdown,.weaponDropdown) {
	position: relative;
	max-width: 200px;
	min-width: 200px;
	> button {
		min-height: 48px;
		min-width: inherit;
		display: flex;
		align-items: center;
		max-width: inherit;
		> img {
			margin-right: 8px;
		}
	}
	&:hover .dropdownContent,
	&.active .dropdownContent {
		display: block;
	}
}
.dropdownContent {
	display: none;
	position: absolute;
	z-index: 1;
	max-height: 250px;
	overflow-y: scroll;
	min-width: inherit;
	scrollbar-width: thin; 
	> button {
		display: flex;
		align-items: center;
		min-width: inherit;
		max-width: inherit;
		> img {
			margin-right: 8px;
		}
		&[disabled],&:disabled {
			display: none;
		}
	}
}
.dropdownWeaponImg,.dropdownCharImg {
	width: 32px;
}
.testButton {
	height: fit-content;
	margin-right: 4px;
}
.itemIcon {
	--size: 256px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	color: #495366;
	height: calc(var(--size) * (17 / 14));
	width: var(--size);
	line-height: 1;
	font-size: calc(var(--size) * (3 / 14));
	border-radius: calc(var(--size) / 10);
	background: top/cover no-repeat;
	transform: rotate(0deg);
	input {
		border-width: 0;
		padding: 0;
		margin: 0;
		background-color: transparent;
		color: #495366;
		max-height: calc(var(--size) * (3 / 14));
		line-height: 1;
		// &:focus {
		// 	outline: 2px solid pink;
		// }
	}
	&.normal {
		--size: 112px;
	}
	&.small {
		--size: 96px;
	}
	&.mini {
		--size: 72px;
	}
	&.tiny {
		--size: 56px;
	}
	&.micro {
		--size: 36px;
	}
	&:is(.micro,.tiny,.mini,.small,.normal) {
		background-color: #a2a2a2;
		background-image: linear-gradient(to bottom, #707275 0%, #a2a2a2 82.35%, 82.36%, #e9e5dc 100%);
		background-image: url(images/rarity/mini-1.png);
		&.rarity-2 {
			background-color: #6cad8d;
			background-image: linear-gradient(to bottom, #5c7670 0%, #6cad8d 82.35%, 82.36%, #e9e5dc 100%);
			background-image: url(images/rarity/mini-2.png);
		}
		&.rarity-3 {
			background-color: #6eaace;
			background-image: linear-gradient(to bottom, #667896 0%, #6eaace 82.35%, 82.36%, #e9e5dc 100%);
			background-image: url(images/rarity/mini-3.png);
		}
		&.rarity-4 {
			background-color: #9674c5;
			background-image: linear-gradient(to bottom, #65608c 0%, #9674c5 82.35%, 82.36%, #e9e5dc 100%);
			background-image: url(images/rarity/mini-4.png);
		}
		&.rarity-5 {
			background-color: #e09552;
			background-image: linear-gradient(to bottom, #946a43 0%, #e09552 82.35%, 82.36%, #e9e5dc 100%);
			background-image: url(images/rarity/mini-5.png);
		}
	}
}
.itemIconImg {
	height: var(--size);
	width: var(--size);
}
// .rarity-0,.rarity-1 {
// 	background-image: url(images/rarity/1.png);
// }
// .rarity-2 {
// 	background-image: url(images/rarity/2.png);
// }
// .rarity-3 {
// 	background-image: url(images/rarity/3.png);
// }
// .rarity-4 {
// 	background-image: url(images/rarity/4.png);
// }
// .rarity-5 {
// 	background-image: url(images/rarity/5.png);
// }

.outputRequired {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.itemSource {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: url(images/info.svg);
}
.itemSourceTooltip {
	display: inline-block;
	visibility: hidden;
	background: #e9e5dc;
	border: 2px solid currentColor;
	border-radius: 8px;
	padding: 4px;
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 110%;
	left: 0;
	text-align: center;
	user-select: none;
	.itemSource:hover+&,
	.active+& {
		visibility: visible;
	}
}

.convert {
	display: none;
	.showConvert & {
		display: block;
	}
}